:root{
  --blue:#3717FF;
  --gray:#c4c4c4;
  --white: #fff;
  --dack: rgba(0,0,0,.27);
  --yellow: #f2b200;
  --grey: #94989b;
  --skyBlue: #c28fef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
 
}


header {
  width: 100%;
  height: 6rem;
  background-color: #3717FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  border-bottom: 1px solid rgb(226, 225, 225);
  background-image: url("../img/1.jpeg");
  background-size: cover;
}

.hamburger {
  display: none;
}

.line {
  width: 40px;
  height: 7px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
}

.navigation {
  transition: all .6s ease-in-out;
}

.navigation ul {
  display: flex;
  /* position: fixed; */
}

.navigation ul li {
  list-style: none;
  margin-right: 3rem;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 2rem;
  display: inline-block;
  transition: all .3s ease;
}

.navigation ul li a:hover {
  color: lightskyblue;
  transition: all 0.3s;
  padding-right: .5px;
}

.navigation.active {
left: 0;
}

@media only screen and (max-width: 900px) {

  header {
    padding: 0 5rem;
  }

  .navigation {
    position: absolute;
    top: 6rem;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #24252a;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation ul li {
    width: 100%;
    text-align: center;
    
  }

  .navigation ul li a {
  /*     border-bottom: solid .25px rgba(211, 211, 211, .6); */
    display: block;

  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
/* MMY STYLE */

#header-container{
  background-image: url("../img/1.jpeg");
  background-size: cover;
  height: 65vh;
}

#header-container .logo img {
  height: 90px;
  width: auto;
  margin-top:3px;
  background-color: transparent;
}
.title img{
  height: 100px;
  width: auto;
  margin-right: 30%;
}

.title .logo-searcharea img{ 
  margin-left: -40px;
}

.title h1{
  font-size:  30px;
}

.title .logo-searcharea {
  font-size: 36px;
  color: #fff;
  padding-top:0px;
}

.title h4{
  margin-top:  -25px;
}

.title{
  margin-top: 5%;
}

.find-services::-webkit-input-placeholder {
  color: #fff; 
  font-style: italic;
}

.find-services {
  border: solid #fff 3px;
  background-color: transparent;
  width:35%;
  border-radius: 10px;
  margin-top:40px;
  height: 50px;
  font-size: 15px;
 
}
.pupolar-container .list-title{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  
}

.pupolar-container ul{
  list-style: disc inside;
  list-style: none;
}

.pupolar-container li a{
  background-color: #3717FF;
  margin-right: 2px;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
}

/* nav */
#index-loginbtn {
  text-align: center;
}
#index-loginbtn a{
  text-align: center;
  background-color: #3717FF;
  color: #fff;
  margin-bottom: 1%;
  width: 100px;
}
.nav{
  min-height: 5px;
  border-top: 1px solid rgb(226, 225, 225);
  border-bottom: 1px solid rgb(226, 225, 225);
  text-align: center;
  /* position: fixed; */
}


.nav ul li{
  display: inline-block;
  padding: 10px 20px 0px;
  color: var(--blue);
  font-size: 14px;
}
.nav ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* nav end */

/* Main body */

#first-container{
  font-size:  18px;
}

#first-container ul li{
  list-style: none;
}

#product-area .img-container img{
  height: 150px;
  width: 100%;
}


/* footer start */
#footer-container{
  margin-top: 10%;
}
#footer{
  border-bottom: 3px solid var(--gray);
  padding-bottom: 20px;
}
#footer-h3{
  color: var(--blue);
}
.footer{
  list-style-type: none;
}
.footer li{
  padding: 10px;
  color: grey;
  font-size: 18px;
  font-weight: 600;
}
.footer li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.media img{
  width: 17%;
}
#footer-two li{
  padding: 0px 10px;
  /* color: var(--gray); */
  color: grey;
}
#footer-two #instagram:hover{
  color: #f46f30;
}
#footer-two #google:hover{
  color: #4285f4;
}
#footer-two #facebook:hover{
  color: #1877f2;
}
#footer-two #linkedin:hover{
  color: #007bb5;
}
#footer-two #twitter:hover{
  color: #1da1f2;
}
/* footer end */


/* faq start */
#faq-container{
  border-top: 2px solid var(--blue);
  padding-top: 10px;
  border-radius: 4px;
}

.faq-col-span img{
  background: yellow;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
/* faq end */

/* invite_page */
.invite-container{
  background: rgb(27, 26, 26);
  color: #fff;
}

#invite-page{
  border-left: 2px solid var(--yellow);
  padding-left: 15px;
}

.invite-page h5{
  font-size: 24px;
}

.invite-page h3{
  font-size: 28px;
}
.invite-page p{
  font-size: 15px;
}

.copy-button{
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

#row-two{
  margin-top: 90px;
}

#invit-form{
  margin-left: 120px;
}

#invit-form input{
  height: 50px;
  width: 70%;
  background: transparent;
  color: var(--white);
  font-size: 18px;
}

#invit-form button{
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.medial{
  margin-top: 90px;
}
.medial ul li{
  padding-left: 15px;
  color: var(--gray);
}

.whatsapp:hover{
  color: #25d366;
  padding-left: 20px;
}

.instagram:hover{
  color: #FD1D1D;
  padding-left: 20px;
}

.facebook:hover{
  color: #3b5998;
  padding-left: 20px;
}

.google:hover{
  color: #F56040;
  padding-left: 20px;
}

.linkedin:hover{
  color: #0072b1;
  padding-left: 20px;
}

.twitter:hover{
  color: #00acee;
  padding-left: 20px;
}
/* invite_page end */

/* footer for all */
.footer li a{
  text-decoration: none;
  color: grey;
}

.footer li a:hover{
  padding-left: 40px;
}
/* footer for all end */

/* Media Query */
@media screen and (max-width: 900px), screen and (max-width: 700px){
  /* invite page */
  .invite-row{
    display: inline;
  }

  .invite-page h3{
    text-align: center;
  }

  #invite-page{
    border-left: none;
    margin-top: 100px;
  }

  .h3-trust{
    margin-top: 40px;
  }

  #h3-trust{
    margin-top: 100px;
  }

  .medial{
    margin-top: 50px;
  }

  #invit-form{
    margin-left: 70px;
    /* margin-bottom: 20px; */
  }

  #invit-form button{
    /* padding: 10px; */
    width: 30%;
    margin-bottom: 40px;
  }

  .intel{
    margin: 70px 0 20px;
  }
}
/* invite page end */
/* Media Query Ends */


/* about starts*/

.about-col {
  padding:20px;
  text-align:justify;
  font-size: 1.5rem;
}

.paragraph {
  padding-top: 30px;
  font-size:1.5rem;
}

.about_span-color {
  color:#f2b200;
}

.about_span-size {
  font-size: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .fig-container {
    text-align: center;
  }
  .fig_shape {
    width: 100%;
    transform: translateX(80%);
  }
}

@media only screen and (max-width: 37.5em) {
  .fig-container {
    text-align: center;
  }
  .fig_shape {
    width: 100%;
    transform: translateX(30%);
  }
}
.fig_shape {
  border-radius: 3px;
  width: 20rem;
  height: 20rem;
  clip-path: circle(50% at 50% 50%);
}

.img_shape {
  height: 100%;
  transform: translateX(-3rem);
}

.u-margin-left {
  text-align:center;
}

.perfect-middle {
  padding-top:5rem;
  padding-bottom:5rem;
}



.title-about {
  padding: 10px;
  font-size:2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.title-about h1 {
  font-size: 4rem;
  padding: 10px;
}
/* about ends */

/* terms of use starts*/
.main {
  background-color: #444;
}

.terms {
  margin-bottom:8rem;
  padding: 10px;
  height:30%;
  color:#fff;
  font-size:1.3rem;
}

.terms h1 {
  color:#f2b200;
  margin-bottom:1rem;
}

.terms-input {
  border: solid #fff 1px;
  background-color: transparent;
  height: 5rem;
  /* width: 80%; */
  font-size:1.4rem;
}

.terms-input:focus {
  outline:none;
  background-color: transparent;
  color:#fff;
}

.border-left {
  border-left: solid 1px #f2b200;
}

.submit{
  float:right;
  background-color: #fff;
  color:#000;
  border-radius:10px;
  display:inline-block;
  font-size:1.3rem;
  width: 10rem;
}
/* terms of use ends */