/* This are the color kit for the project
# How to use it 
# For backgroud: var(--the name of the color kit)
# For color: var(--the name of the color kit)
 */

:root{
  --blue:#3717FF;
  --gray:#c4c4c4;
  --white: #fff;
  --dack: rgba(0,0,0,.27);
}
body{
  margin: 0;
  padding: 0;
}
.contain{
  background: var(--white);
}
/* header start*/
.header{
  background: url("../img/1.jpeg") no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  height: 25vh;
  /* opacity: .9; */
}
.header img{
  margin: 0;
  width: 12rem;
}
/* .header form{
  position: absolute;
  margin-left: 200px;
  margin-bottom: 400px;
} */
.header form input{
  height: 7vh;
  width: 40vh;
  border: 3px solid var(--white);
  border-radius: 10px;
  background: transparent;
  color: var(--white);
}
.header form input:hover{
  border: 3px solid var(--blue);
  border-radius: 10px;
}
.header-div{
  background: var(--blue);
  padding: 5px;
  border-radius: 10px;
  margin-right: 50px;
  text-align: center;
}
.header-div a{
  /* padding-left:10px ; */
  color: var(--white);
  font-size: 18px;

}
#header-a{
  padding-right: 10px;
  border-right: 2px solid var(--white);
}
#header-a-two{
  padding-left: 10px;

}
/* header end */
/* nav */
.nav{
  min-height: 5px;
  border-bottom: 1px solid var(--gray);
}


.nav ul li{
  display: inline-block;
  padding: 10px 20px 0px;
  color: var(--blue);
}
.nav ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* nav end */
/* main start */
.main {
  margin: 50px;
}
.main h3{
  color:  var(--gray);
  border-bottom: 5px solid var(--dack);
  padding-bottom: 4px;
  width: 100px;
  border-radius: 3px;
}
.main .main-span{
  border: 1px solid var(--gray);
  background-color: var(--dack);
  width: 60%;
}
.main-li-div ul li{
  display: inline-block;
}
.main-li-div ul li i{
  color: var(--gray);
}
/* main end */
/* second main start */
#main-two{
  border: 2px solid var(--blue);
  padding: 2px;
  margin-right: 15px;
}
.span-main-two i{
  color: var(--blue);
  /* margin-right: 10px; */
}
.icon-img{
  border-radius: 50%;
  /* border: 1px solid black; */
  width: 40px;
  height: 40px;
}
.main-card{
  height: 120px;
}
.star-icon{
  color: gold;
}
/* .card{
  padding: 10px;
} */
/* second main end */

.signup-header{
  width: 100%;
  background-image: url("../img/1.jpeg");
  background-size: cover;
  /* position: relative; */
  height: auto;
}

.find-services::-webkit-input-placeholder {
  color: #fff; 
  font-style: italic;
}
.header-signup {
  position: relative;
}
.logo-transparent {
  width: 30%;
  float:left; 
}

.find-services {
  border: solid #fff 3px;
  background-color: transparent;
  width:50%;
  border-radius: 10px;
  margin-top:30px;
  position: relative;
  left:-30;
}

.title {
  padding: 10px;
  padding-top:0px;
  padding-right: 0px;
  text-align: center;
}

.title img {
  margin-top: -10px;
  margin-left: -5px;
}

.logo-white {
  height: 30px;
  width: auto;
  margin-top:3px;
}

.intro {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.btn-upload {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 20px;
  width: 100%;
}

.btn-sign-login{
  background-color: var(--blue);
  color: var(--white);
  border-radius: 20px;
  width: 70%;
  border: none;
  margin: 10px;
  margin-top:40px;
  position: relative;
}
.login{
  color:inherit;
  padding-right: 10px;
}
.login:hover{
  color: var(--gray);
  text-decoration: none;
}
.sign-up{
  color:inherit;
  padding-left: 10px;
  text-decoration: none;
}
.sign-up:hover{
  color: var(--gray);
  text-decoration: none;
}
.file {
  opacity: 0;
  visibility: hidden;
}

#file-label {
  margin-top: 10px;
}

.picture-guide {
  text-transform: capitalize;
  padding-top:10px;
}
/**
*USER PROFILE CSS STYLE
 */
 /* first main arae */
#first-div{
  border: 1px solid rgb(226, 225, 225);
  border-top: none;

}
.pic-area{
  display: flex;
  padding-left: 100px;
}

.pic-area :nth-child(2){
  display: flex;
  flex-direction: column;
}
.pic-area img{
  border-radius: 50%;
  height: 150px;
  width: 25%;
}

#star-icon{
  color: rgb(204, 172, 129);
}

.verified{
  background: rgb(204, 172, 129);
  color: white;
  border-radius: 70%;
  height: 150px;
  width: 150%;
  overflow-x: auto;
  text-align: center;
  white-space: pre-wrap;
}

.verified h4{
  margin-top: 25%;
}

.btnpic{
  display: block;
  margin-top: 10px;
  width: 30%;
  border-radius: 10px;
  transition: all 0.3s;
}

#profilebtnupdt1:hover{
  border-color: rgb(204, 172, 129);
  color: wheat;
  background: none;
  transition: all 0.3s;
  
}
    

#profilebtnupdt2{
  background: rgb(204, 172, 129);
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10%;
}
/* second main area */
.second-main h5{
  margin-left: 9%;
}
#second-div{
  border: 1px solid rgb(226, 225, 225);
  border-right: none;
  border-top: none;
}

#second-divch2{
  border: 1px solid rgb(226, 225, 225);
  border-right: none;
  border-left: none;
}
#second-divch2 h6{
  font-size: 13px;
}

/* third main */
#third-main button{
  display: block;
  margin-top: 10px;
  width: 10%;
  border-radius: 10px;
  transition: all 0.3s;
}

#profileeditbtn:hover{
  border-color: rgb(204, 172, 129);
  color: wheat;
  background: none;
  transition: all 0.3s;
  
}

#third-main li{
  list-style: none;
  cursor: pointer;
  transition: all 0.3s;
}

#third-main li:hover{
  color: rgb(206, 155, 89);
  padding-left: 6px;
  transition: all 0.3s;
}

#third-main #profileeditaddressbtn{
  display: block;
  margin-top: 10px;
  width: 20%;
  border-radius: 10px;
  transition: all 0.3s;
}

#third-main #profileeditaddressbtn:hover{
  border-color: rgb(204, 172, 129);
  color: wheat;
  background: none;
  transition: all 0.3s;
}
/**
*USER PROFILE CSS STYLE END HERE
 */
     
/* footer start */
#footer-container{
  margin-top: 10%;
}
#footer{
  border-bottom: 3px solid var(--gray);
  padding-bottom: 20px;
}
#footer-h3{
  color: var(--blue);
}
.footer{
  list-style-type: none;
}
.footer li{
  padding: 10px;
  color: grey;
  font-size: 18px;
  font-weight: 600;
}
.footer li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.media img{
  width: 17%;
}
#footer-two li{
  padding: 0px 10px;
  /* color: var(--gray); */
  color: grey;
}
#footer-two #instagram:hover{
  color: #f46f30;
}
#footer-two #google:hover{
  color: #4285f4;
}
#footer-two #facebook:hover{
  color: #1877f2;
}
#footer-two #linkedin:hover{
  color: #007bb5;
}
#footer-two #twitter:hover{
  color: #1da1f2;
}
/* footer end */

